@import 'tailwindcss';

@theme {
	--font-stylish: Comfortaa;
	--color-primary: #ce2727;
	--color-background: #ffffff;
	--color-accent: #ff7f3b;
	--color-text: #050315;
}

* {
	min-width: 0;
}

body {
	font-family: 'Roboto Flex Variable', 'Courier New', Courier, monospace;
}

html {
	background-color: var(--color-background);
	color: var(--color-on-background);
}

a {
	white-space: nowrap;
}
